* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: #fff;
}

header {
  background: #1a1a1a;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #e50914;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #e50914;
}

.hero {
  position: relative;
}
.hero a {
  display: block; /* EZ A FONTOS */
  position: relative;
  color: white;
  text-decoration: none;
}

.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-text {
  position: absolute;
  bottom: 40px;
  left: 10%;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px 10%;
}

.card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card a {
  display: block;          /* EZ A FONTOS */
  text-decoration: none;
  color: white;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card h2 {
  padding: 15px 15px 5px 15px;
}

.card p {
  padding: 0 15px 20px 15px;
  color: #bbb;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
  margin-top: 40px;
}